:root {
  --circle-size: 2.6rem;
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.stepper {
  display: flex;
}

.stepper li {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;

  &:not(:first-child) {
    &::before {
      content: "";
      position: relative;
      top: calc(var(--circle-size) / 2);
      width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
      left: calc(-50% + calc(var(--circle-size) / 2 + var(--spacing)));
      height: 2px;
      background-color: #e0e0e0;
      order: -1;
    }

    &.passed {
      &::before {
        background-color: var(--bs-blue);
      }
    }
  }
}
